body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
}

header ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0px;
  }

td{
    padding: 20px;
}
