body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
}

h1 {
    display: block;
    font-size: 2.5em;
    margin:0;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 1em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-inline-start: 0px;
}

header li {
    margin: 0;
    padding: 0em 1em;
    flex: 1 0;
}

@media (max-width: 650px) {
    header ul {
        flex-direction: column;
    }
}

@media (max-width: 650px) {
    header li {
        padding: 0em 0.5em;
        margin: 0.5em;
        flex: 1 0;
    }
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

a {
    color: rgb(19, 158, 223);
}

td{
    padding: 0.5em 1.5em;
}

li{
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}
  
.item {
    flex: 1 0 25%; 
    padding: 0.5em;
}
  
@media (max-width: 410px) {
    .item {
        flex: 1 0 50%; 
        padding: 0.5em;
        box-sizing: border-box;
    }
}